.App {
  text-align: center;
}

root {
  --background-white: #fff;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1428px;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.shop-product {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: flex-start;
}

.cart-btn {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border: none;
  box-shadow: 1px 1px 2px #61dafb;
}

.cart.empty {
  color: black;
}

.cart-with-products {
  color:red
}

.clear-cart-modal{
  display: flex;
  flex-flow: column;
  gap:10px
}

.btn-add-cart{
  padding: 0.5rem;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  white-space: nowrap;
  flex-flow: row;
  align-items: center;
  gap: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
